/*
Copyright 2014
*/

/************************************************************************************
RESET
*************************************************************************************/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset, figure {
	margin: 0;
	padding: 0;
}

img, fieldset {
	border: 0;
}

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

/* set img max-width */
img {
	max-width: 100%;
	height: auto;
}

/* ie 8 img max-width */
@media \0screen {
  img { width: auto;}
}

/************************************************************************************
FONTS
*************************************************************************************/
/*Amaranth Regular*/
@font-face {
	font-family: 'AmaranthRegular';
	src: url('../fonts/amaranth-regular-webfont.eot');
	src: url('../fonts/amaranth-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/amaranth-regular-webfont.woff') format('woff'),
		 url('../fonts/amaranth-regular-webfont.ttf') format('truetype'),
		 url('../fonts/amaranth-regular-webfont.svg#AmarantRegular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-smoothing: (subpixel-antialiased|antialiased|none);
		-webkit-font-smoothing: (subpixel-antialiased|antialiased|none);
			-moz-font-smoothing: (subpixel-antialiased|antialiased|none);
				-o-font-smoothing: (subpixel-antialiased|antialiased|none);
					-ms-font-smoothing: (subpixel-antialiased|antialiased|none);
}

@font-face {
	font-family: 'AmaranthItalic';
	src: url('../fonts/amaranth-italic-webfont.eot');
	src: url('../fonts/amaranth-italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/amaranth-italic-webfont.woff') format('woff'),
		 url('../fonts/amaranth-italic-webfont.ttf') format('truetype'),
		 url('../fonts/amaranth-italic-webfont.svg#AmarantItalic') format('svg');
	font-weight: normal;
	font-style: normal;
	font-smoothing: (subpixel-antialiased|antialiased|none);
		-webkit-font-smoothing: (subpixel-antialiased|antialiased|none);
			-moz-font-smoothing: (subpixel-antialiased|antialiased|none);
				-o-font-smoothing: (subpixel-antialiased|antialiased|none);
					-ms-font-smoothing: (subpixel-antialiased|antialiased|none);
}

@font-face {
	font-family: 'AmaranthBold';
	src: url('../fonts/amaranth-bold-webfont.eot');
	src: url('../fonts/amaranth-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/amaranth-bold-webfont.woff') format('woff'),
		 url('../fonts/amaranth-bold-webfont.ttf') format('truetype'),
		 url('../fonts/amaranth-bold-webfont.svg#AmarantBold') format('svg');
	font-weight: normal;
	font-style: normal;
	font-smoothing: (subpixel-antialiased|antialiased|none);
		-webkit-font-smoothing: (subpixel-antialiased|antialiased|none);
			-moz-font-smoothing: (subpixel-antialiased|antialiased|none);
				-o-font-smoothing: (subpixel-antialiased|antialiased|none);
					-ms-font-smoothing: (subpixel-antialiased|antialiased|none);
}

@font-face {
	font-family: 'AmaranthBoldItalic';
	src: url('../fonts/amaranth-bolditalic-webfont.eot');
	src: url('../fonts/amaranth-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/amaranth-bolditalic-webfont.woff') format('woff'),
		 url('../fonts/amaranth-bolditalic-webfont.ttf') format('truetype'),
		 url('../fonts/amaranth-bolditalic-webfont.svg#AmarantBoldItalic') format('svg');
	font-weight: normal;
	font-style: normal;
		-webkit-font-smoothing: (subpixel-antialiased|antialiased|none);
			-moz-font-smoothing: (subpixel-antialiased|antialiased|none);
				-o-font-smoothing: (subpixel-antialiased|antialiased|none);
					-ms-font-smoothing: (subpixel-antialiased|antialiased|none);
}

/*Entypo*/
@font-face {
	font-family: 'Entypo';
	src: url('../fonts/entypo.eot');
	src: url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/entypo.woff') format('woff'),
		 url('../fonts/entypo.ttf') format('truetype'),
		 url('../fonts/entypo.svg#Entypo') format('svg');
	font-weight: normal;
	font-style: normal;
	font-smoothing: (subpixel-antialiased|antialiased|none);
		-webkit-font-smoothing: (subpixel-antialiased|antialiased|none);
			-moz-font-smoothing: (subpixel-antialiased|antialiased|none);
				-o-font-smoothing: (subpixel-antialiased|antialiased|none);
					-ms-font-smoothing: (subpixel-antialiased|antialiased|none);
}

/*Entypo Social*/
@font-face {
	font-family: 'EntypoSocial';
	src: url('../fonts/entypo-social.eot');
	src: url('../fonts/entypo-social.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/entypo-social.woff') format('woff'),
		 url('../fonts/entypo-social.ttf') format('truetype'),
		 url('../fonts/entypo-social.svg#EntypoSocial') format('svg');
	font-weight: normal;
	font-style: normal;
	font-smoothing: (subpixel-antialiased|antialiased|none);
		-webkit-font-smoothing: (subpixel-antialiased|antialiased|none);
			-moz-font-smoothing: (subpixel-antialiased|antialiased|none);
				-o-font-smoothing: (subpixel-antialiased|antialiased|none);
					-ms-font-smoothing: (subpixel-antialiased|antialiased|none);
}

/************************************************************************************
GENERAL STYLING
*************************************************************************************/
body {
	font-family: 'AmaranthRegular', Arial, Helvetiva, sans-serif;
	font-weight: normal;
	color: #000;
}

h1 {
	font: normal 65px 'AmaranthBold', Arial, Helvetica, sans-serif;
}

h2 {
	font: normal 20px 'AmaranthRegular', Arial, Helvetica, sans-serif;
}

.animated_link {
	color: #ff5f44;
	text-decoration: none;
	position: relative;

}

.animated_link:before {
	width: 100%;
	height: 1px;
	background: #ff5f44;
	position: absolute;
	left: 0;
	content: '';
	top: 115%;
	transform: scale(0.5);
		-moz-transform: scale(0.5);
			-webkit-transform: scale(0.5);
				-o-transform: scale(0.5);

}

.animated_link:hover:before {
	transform: scale(1);
		-moz-transform: scale(1);
			-webkit-transform: scale(1);
				-o-transform: scale(1);
}

p {
	margin: 0 0 15px 0;
	padding: 0;
	line-height: 140%;
	text-align:left;
}

strong {
	font: normal 18px 'AmaranthBold', Arial, Helvetica, sans-serif;
}

blockquote {
	font: normal 18px 'AmaranthItalic', Arial, Helvetica, sans-serif;
}

::selection {
	background: #f1c40f;
	color: #fff;
	text-shadow: none;
}

::-moz-selection {
	background: #f1c40f;
	color: #fff;
	text-shadow: none;
}

.social:before, .infobulle:before, .animated_link:before, .arrow:before, .arrow:after, .try-again button:before {
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
	transition: all 0.25s ease-in-out;
		-webkit-transition: all 0.25s ease-in-out;
			-o-transition: all 0.25s ease-in-out;
				-moz-transition: all 0.25s ease-in-out;
}

.animation {
	transition: all 0.25s ease-in-out;
		-webkit-transition: all 0.25s ease-in-out;
			-o-transition: all 0.25s ease-in-out;
				-moz-transition: all 0.25s ease-in-out;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.inline  {
	display: inline-block;
	vertical-align: top;
}

.show {
	display: block;
}

.dont-show {
	display: none;
}

.grid {
	width: 100%;
	height: 100%;
	background: url(../images/grid_system.png) 0% 50% no-repeat;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9999;
	display: none;
}

.no-margin {
	margin: 0 !important;
}

#pagewrap {
	width: 100%;
}

/*Entrance*/
@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(0px);
	}
	
	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
	}
	
	80% {
		-webkit-transform: translateY(-10px);
	}
	
	100% {
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes bounceInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(0px);
	}
	
	60% {
		opacity: 1;
		-moz-transform: translateY(30px);
	}
	
	80% {
		-moz-transform: translateY(-10px);
	}
	
	100% {
		-moz-transform: translateY(0);
	}
}

@-o-keyframes bounceInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(0px);
	}
	
	60% {
		opacity: 1;
		-o-transform: translateY(30px);
	}
	
	80% {
		-o-transform: translateY(-10px);
	}
	
	100% {
		-o-transform: translateY(0);
	}
}

@keyframes bounceInDown {
	0% {
		opacity: 0;
		transform: translateY(0);
	}
	
	60% {
		opacity: 1;
		transform: translateY(30px);
	}
	
	80% {
		transform: translateY(-10px);
	}
	
	100% {
		transform: translateY(0);
	}
}

@-ms-keyframes bounceInDown {
	0% {
		opacity: 0;
		-ms-transform: translateY(0);
	}
	
	60% {
		opacity: 1;
		-ms-transform: translateY(30px);
	}
	
	80% {
		-ms-transform: translateY(-10px);
	}
	
	100% {
		-ms-transform: translateY(0);
	}
}

.bounceInDown {
	display: block !important;
	-webkit-animation-name: bounceInDown;
		-moz-animation-name: bounceInDown;
			-o-animation-name: bounceInDown;
				animation-name: bounceInDown;
					-ms-animation-name: bounceInDown;
}

.how-text {
	display: none;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: none
    	-o-animation-duration: 0.5s;
    	-o-animation-delay: 0s;
    	-o-animation-iteration-count: none
    		-moz-animation-duration: 0.5s;
    		-moz-animation-delay: 0s;
    		-moz-animation-iteration-count: none
  				animation-duration: 0.5s;
    			animation-delay: 0s;
    			animation-iteration-count: none
					    -webkit-animation-fill-mode: none;
					    -moz-animation-fill-mode: none;
						-o-animation-fill-mode: none;
						animation-fill-mode: none;
						-ms-animation-fill-mode: none;
}


/************************************************************************************
PAGEWRAP
*************************************************************************************/
/*HEADER
==================*/
header {
	width: 100%;
	height: 175px;
	background: #f1c40f;
	margin: 0 0 100px;
}

.header-content {
	width: 1260px;
	height: inherit;
	margin: 0 auto;
}

/*Site logo*/
#site-logo {
	width: 540px;
	height: inherit;
	margin: 0 176px 0 0;
	background: transparent;
	padding: 30px 0;
}

/*Main nav*/
nav {
	width: 540px;
	height: inherit;
	padding: 66px 0;
}

nav a {
	padding: 22px 40px;
	color: #000;
	background: #bdc3c7;
	margin: 0 36px 0 0;
	font-size: 18px;
	position: relative;
	text-decoration: none;
	border-radius: 4px;
		-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
				-o-border-radius: 4px;
}

nav a:hover {
	background: #ff5f44;
	color: #fff;
	text-decoration: none;
}

.social {
	padding: 22px 22px;
}

.social:before {
	font: normal 48px 'EntypoSocial';
	color: #000;
	vertical-align: middle;
}

.social:hover:before {
	color: #fff;
}

.twitter {
	padding: 22px 20px;
}

.twitter:before {
	content:'\f309';
}

.twitter:hover {
	background: #55acee;
}

.facebook {
	padding: 22px 21px;
}

.facebook:before {
	content:'\f30c';
}

.facebook:hover {
	background: #3b5999;
}

/*INTRODUCTION
==================*/
/*intro*/
.explication {
	width: 1260px;
	margin: 0 auto 80px auto;
	font-size: 20px;
}

.explication .intro {
	margin: 0 0 15px 0;
}

.explication button {
	cursor: pointer;
	height: 60px;
	width: 220px;
	margin: 25px 0 15px 0;
	background: #f1c40f;
	font: normal 20px 'AmaranthRegular', Arial, Helvetica, sans-serif;
	border: none;
	border-radius: 4px;
		-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
				-o-border-radius: 4px;
}

.explication button:hover {
	background: #ff5f44;
	color: #fff;
}

.explication button:link {
	border: none;
}

/*INFOBULLE
==================*/
/*infobulles*/
.infobulle {
	width: 300px;
	position: absolute;
	z-index:900;
	visibility: hidden;
	padding: 30px;
	background: #f1c40f;
	transition: all 0.1s ease-in-out;
		-webkit-transition: all 0.1s ease-in-out;
			-o-transition: all 0.1s ease-in-out;
				-moz-transition: all 0.1s ease-in-out;
	border-radius: 4px;
		-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
				-o-border-radius: 4px;
}

.infobulle h2 {
	margin: 0 0 20px 0;
}

.infobulle:before {
	content: '';
	position: absolute;
	top: 34px;
	left: -20px;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #f1c40f;
	transform: rotate(90deg);
		-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
		transition: all 0.01s ease-in-out;
		-webkit-transition: all 0.01s ease-in-out;
			-o-transition: all 0.01s ease-in-out;
				-moz-transition: all 0.01s ease-in-out;
}

.item {
	position: relative;
}

.item:hover .ib-setting-1, .item:hover .ib-setting-2 {
	display: block;
	right: -320px;
	visibility: visible;
}

.item:hover .ib-setting-3 {
	display: block;
	right: -210px;
	visibility: visible;
}

.item:hover .ib-setting-4 {
	display: block;
	right: -240px;
	visibility: visible;
}

.ib-setting-1 {
	top: 65px;
	right: -340px;
}

.ib-setting-2 {
	top: 15px;
	right: -350px;
}

.ib-setting-3 {
	top: 90px;
	right: -230px;
}

.ib-setting-4 {
	top: 65px;
	right: -260px;
}


/*DATAS
==================*/
.data-container {
	width: 1260px;
	position: relative;
	padding: 50px 80px;
	margin: 0 auto 68px auto;
	border: 1px solid #b7bdc2;
	border-radius: 4px;
		-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
				-o-border-radius: 4px;
}

.data-container p {
	margin: 0 0 20px 0;
}

.arrow:before {
	content: '';
	position: absolute;
	top: -21px;
	left: 9.9%;
	width: 0;
	height: 0;
	border-left: 21px solid transparent;
	border-right: 21px solid transparent;
	border-top: 21px solid #b7bdc2;
	transform: rotate(180deg);
		-moz-transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
}

.arrow:after {
	content: '';
	position: absolute;
	top: -20px;
	left: 10%;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #fff;
	transform: rotate(180deg);
		-moz-transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
}

.data-chart {
	width: 700px;
	height: 190px;
	background: grey;
	margin: 0 20px 0 0;
}

.numbers {
	float: right;
	width: 374px;
	height: 190px;
	background: grey;
}

/*TRY AGAIN
==================*/
.try-again {
	width: 300px;
	height: 60px;
	margin: 0 auto 100px auto;
}

.try-again button{
	cursor: pointer;
	position: relative;
	height: inherit;
	width: inherit;
	overflow: hidden;
	background: #bdc3c7;
	font: normal 18px 'AmaranthRegular', Arial, Helvetica, sans-serif;
	border: none;
	border-radius: 4px;
		-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
				-o-border-radius: 4px;
}

.try-again button:hover {
	background: #f1c40f;
}

.try-again button:before {
	font: normal 48px 'Entypo';
	content:'\2b06';
	color: #000;
	position: absolute;
	top: -5px;
	vertical-align: middle;
	left: -20px;
}

.try-again button:hover:before {
	top:-5px;
	left: 12px;
}

/*OBS
==================*/
.obs-container {
	width: 1260px;
	padding: 50px 80px;
	margin: 0 auto 68px auto;
	border: 1px solid #b7bdc2;
	border-radius: 4px;
		-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
				-o-border-radius: 4px;
}

.obs-container ul {
	margin: 0 0 40px 0;
	padding: 0 0 0 18px;
}

.obs-container ul li {
	line-height: 200%;
}

.obs-container h2 {
	margin: 0 0 20px 0;
}

.filters {
	width: 140px;
	height: 280px;
	margin: 0 20px 0 0;
	background: grey;
}

.obs-chart {
	width: 940px;
	float: right;
	height: 280px;
	background: grey;
}
	
	

	
/*FOOTER
==================*/
footer {
	width: 100%;
	height: 144px;
	background: #f1c40f;
	padding: 42px 0;
}

footer p {
	width: 1260px;
	font-size: 14px;
	margin: 0 auto;
}